name: Build Silverblue container
on:
  workflow_call:
env:
  IMAGE_REGISTRY: ghcr.io/${{ github.repository_owner }}

jobs:    
  push-ghcr:
    name: Build and push image
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      packages: write
      id-token: write

    steps: 
      # checkout repo
      - name: Checkout repo
        uses: actions/checkout@v4

      # set build variables
      - name: Variables
        run: |
            while read line
            do
              echo "$line" >> $GITHUB_ENV
            done < ./config.env
            
      - name: Generate tags 
        id: generate-tags
        shell: bash
        run: |
          # Generate a timestamp for creating an image version history
          TIMESTAMP="$(date +%Y%m%d)"
          COMMIT_TAGS=()
          BUILD_TAGS=()
          # Have tags for tracking builds during pull request
          SHA_SHORT="${GITHUB_SHA::7}"
          COMMIT_TAGS+=("pr-${{ github.event.number }}-${{ env.FEDORA_VERSION }}")
          COMMIT_TAGS+=("${SHA_SHORT}-${{ env.FEDORA_VERSION }}")
          COMMIT_TAGS+=("pr-${{ github.event.number }}")
          COMMIT_TAGS+=("${SHA_SHORT}")

          BUILD_TAGS+=("${{ env.FEDORA_VERSION }}" "${{ env.FEDORA_VERSION }}-${TIMESTAMP}")

          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
            echo "Generated the following commit tags: "
            for TAG in "${COMMIT_TAGS[@]}"; do
              echo "${TAG}"
            done

            alias_tags=("${COMMIT_TAGS[@]}")
          else
            alias_tags=("${BUILD_TAGS[@]}")
          fi

          echo "Generated the following build tags: "
          for TAG in "${BUILD_TAGS[@]} ."; do
              echo "${TAG}"
          done

          echo "alias_tags=${alias_tags[*]}" >> $GITHUB_OUTPUT

      #
      - name: Get current version
        id: labels
        run: |
          ver=$(skopeo inspect docker://${BASE_IMAGE}:${FEDORA_VERSION} | jq -r '.Labels["org.opencontainers.image.version"]')
          echo "VERSION=$ver" >> $GITHUB_OUTPUT

      # Build metadata
      - name: Image Metadata
        uses: docker/metadata-action@v5
        id: meta
        with:
          images: |
            ${{ env.TARGET_IMAGE_NAME }}
          labels: |
            org.opencontainers.image.title=${{ env.TARGET_IMAGE_NAME }}
            org.opencontainers.image.version=${{ steps.labels.outputs.VERSION }}
            org.opencontainers.image.description=${{ env.TARGET_IMAGE_NAME }}

      # Workaround bug where capital letters in your GitHub username make it impossible to push to GHCR.
      # https://github.com/macbre/push-to-ghcr/issues/12
      - name: Lowercase Registry
        id: registry_case
        uses: ASzc/change-string-case-action@v5
        with:
          string: ${{ env.IMAGE_REGISTRY }}

      # Build image using Buildah action
      - name: Build Image
        id: build_image
        uses: redhat-actions/buildah-build@v2
        with:
          containerfiles: |
            ./Containerfile
          image: |
            ${{ env.TARGET_IMAGE_NAME }}
          tags: |
            ${{ steps.generate-tags.outputs.alias_tags }}
          build-args: |
            BASE_IMAGE=${{ env.BASE_IMAGE }}
            FEDORA_VERSION=${{ env.FEDORA_VERSION }}
            NVIDIA_VERSION=${{ env.NVIDIA_VERSION }}
          extra-args: |
            --no-cache
            --pull=always
            --volume ${{ github.workspace }}:/workspace:z
          labels: ${{ steps.meta.outputs.labels }}
          oci: false

      # Push the image to GHCR (Image Registry)
      - name: Push To GHCR
        uses: redhat-actions/push-to-registry@v2
        id: push
        env:
          REGISTRY_USER: ${{ github.actor }}
          REGISTRY_PASSWORD: ${{ github.token }}
        with:
          image: ${{ steps.build_image.outputs.image }}
          tags: ${{ steps.build_image.outputs.tags }}
          registry: ${{ steps.registry_case.outputs.lowercase }}
          username: ${{ env.REGISTRY_USER }}
          password: ${{ env.REGISTRY_PASSWORD }}
          extra-args: |
            --disable-content-trust
